* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

/* 设置子元素占父元素的比例，给子元素设置的。 */
/* flex:1;  */
/* 后面的数值表示，所加属性的这个子元素占父元素是剩余的几份，  */
/* 已经有宽度的子元素提前分配不包在总份中。 */
.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in-out 0.4s;
}

@media(max-width:480px) {
  .container {
    width: 100vh;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}